.app {
  display: block;
  max-width: 350px;
  margin: 20px;
  border: 10px rgb(49, 98, 233) solid;
  border-radius: 15px;
  background-color: rgb(254, 237, 47);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


