.container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lemonchiffon;
}

.box {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin: 0;
}

.text {
  text-align: left;
}